body {
    background-color: antiquewhite;
}

.card-deck {
    margin: 3px;
    padding: 3px;
}

.fIcons {
    margin: 50px;
    padding-left: 50px;
    justify-content: space-around;
}

.checked {
    color: orange;
}

.myfooter {
    /* height: 160px; */
    background-color: #80f122;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to right top, #15e6ca, rgb(248, 128, 47));
}

.myjumbo {
    margin-top: 5px;
    height: 160px;
    background-color: #06043f;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to top left, #ea3030, #ebf6ac);
}

img {
    height: 200px;
}

.card {
    width: 300px;
    margin-top: 22px;
    border-radius: 3px;
}

.customNav {
    height: 60px;
    /* width: 80%; */
    opacity: 0.9;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    padding: 70px 0 0 10px;
    border-right: 3px solid rgb(205, 205, 230);
}

.left-sidebar {
    position: sticky;
    top: 0;
    height: calc(100vh - 70px);
}

.sidebar-nav li .nav-link {
    color: #333;
    font-weight: 500;
}

.dashmain {
    padding-top: 90px;
}

.dashcard {
    margin: 20px !important;
}

.form-control {
    margin: 11px;
    /* opacity: 0.2; */
    border-radius: 6px;
}

input {
    background-color: beige;
    color: blue;
}

product-small img {
    max-width: 10rem;
    padding: 1rem;
}

.product-images {
    margin: 5px;
}

.logo {
    font-family: "Rubik", sans-serif;
    background-image: linear-gradient(#1a1e3d, #26242b);
    text-transform: uppercase;
    font-size: 1.6rem;
    animation: aagepeche 3s linear infinite;
    animation-direction: alternate;
}

@keyframes aagepeche {
    from {
        padding-left: 40px;
    }
    to {
        padding-right: 60px;
    }
}

.myjumbo {
    font-family: "Rubik", sans-serif;
    background-image: linear-gradient(#ea3030, #180639);
    text-transform: uppercase;
    font-size: 1.6rem;
    animation: uperneche 2s linear infinite;
    animation-direction: alternate;
}

@keyframes uperneche {
    /* from {
        padding-top: 40px;
    }
    to {
        padding-bottom: 60px;
    } */
}